@import './global.css';

#formListaUsuarios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;

    grid-template-areas: 
        "input input select"
        "table table table"
        ". cancelar ."
    ;
}

#inputFiltroUsu{
    grid-area: input;
}

#selectFiltroUsu{
    grid-area: select;
}

#tablaListaUsu{
    grid-area: table;
}

#btnCancelarListUsu{
    grid-area: cancelar;
}

.formListaUsuChilds{
    font-size: xx-large;
    border-radius: 12px;
    font-family: var(--fuenteOrbitronRegular);
    margin-bottom: 3vh;
    margin-right: 2vw;

}

#formListaUsuarios > table{
    display: block;
    width: 90%;
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-collapse: separate;
    text-align: center;
    cursor: pointer;
}
#formListaUsuarios > table > tbody{
    display: block;
    width: 100%;
}
#formListaUsuarios > table td{
    display: block;
    width: 100%;
}
#formListaUsuarios > table tr{
    display: block;
    width: 100%;
    border: 0;
}
#formListaUsuarios > table  tr:nth-child(even){
    background-color: lightgray;
}