@import './global.css';

#formListaEqEntregados{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    width: 130vh;

    grid-template-areas: 
        "input input input"
        "table table table"
        "cancelar cancelar cancelar"
    ;
}

#inputFiltroEqEntregados{
    grid-area: input;
}

#selectFiltroEqEntregados{
    grid-area: select;
}

#tablaListaEqEntregados{
    grid-area: table;
    border-collapse: collapse;
}

#contBotonesListaEqEntregados{
    grid-area: cancelar;
}

.formListaCliChilds{
    font-size: xx-large;
    border-radius: 12px;
    font-family: var(--fuenteOrbitronRegular);
    margin-bottom: 3vh;
    margin-right: 2vw;

}

#puntoCli{
    color: greenyellow;
}
#formListaEqEntregados  table{
    display: block;
    height: 35vh;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    border-collapse: separate;
}
#formListaEqEntregados  table  tbody{
    display: block;
    width: 100%;
}
#formListaEqEntregados  table  tr, #formListaEqEntregados  table  thead{
    display: flex;
    width: 100%;
    cursor: pointer;
    font-size: x-large;
}

#formListaEqEntregados  table  td{
    display: inline;
    width: 50%;
}
#contBotonesListaEqEntregados{
    display: flex;
    margin: 5vh auto;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#formListaEqEntregados td:nth-child(2) {
    border-left: 2px solid red;
    padding-left: 2%;
  }

  #formListaEqEntregados table tbody tr:nth-child(even){
    background-color: lightgray;
  }

  #formListaEqEntregados .tituloTabla{
    background-color: var(--colorAzulito);
    color: white;
    text-align: center;
  }
