#formEditItem{
    font-family: var(--fuenteOrbitronMedium);
    font-size: xx-large;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 20px;

    width: 70vw;
}
#formEditItem > div:not(.tres){
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#formEditItem label{
    width: 30%;
}
#formEditItem input{
    font-size: x-large;
    font-family: var(--fuenteOrbitronMedium);
    border-radius: 6px;
}

#formEditItem .uno input{
    width: 60%;
    margin-right: 10%;
}
#formEditItem .tres input{
    width: 5vw;
    grid-area: input;
}
#formEditItem .tres label{
    grid-area: label;
}
#formEditItem .dos input{
    width: 90%;
    text-align: center;
}
#formEditItem textarea{
    width: 100%;
    height: 30vh;
    font-size: x-large;
    border-radius: 6px;
}
#formEditItem .tres button{
    grid-area: boton;
    width: 100%;
}
.tres{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    grid-template-areas: 'label input input . boton boton boton';
}
