@import './global.css';

#formListaEmpleados{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;

    grid-template-areas: 
        "input input select"
        "table table table"
        ". cancelar ."
    ;
}

#inputFiltroEmpl{
    grid-area: input;
}

#selectFiltroEmpl{
    grid-area: select;
}

#tablaListaEmpl{
    grid-area: table;
}

#btnCancelarListEmpl{
    grid-area: cancelar;
}

.formListaEmplChilds{
    font-size: xx-large;
    border-radius: 12px;
    font-family: var(--fuenteOrbitronRegular);
    margin-bottom: 3vh;
    margin-right: 2vw;

}

#formListaEmpleados > table{
    display: block;
    width: 90%;
    height: 45vh;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    border-collapse: separate;
    cursor: pointer;
}
#formListaEmpleados > table tbody{
    display: block;
    width: 100%;
}
#formListaEmpleados > table tr{
    display: block;
    width: 100%;
    border: 0;
}
#formListaEmpleados > table td{
    display: block;
    width: 100%;
}
#formListaEmpleados > table tr:nth-child(even){
    background-color: lightgray;
}
