@import './global.css';

#formListaClientes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;

    grid-template-areas: 
        "input input select"
        "table table table"
        "cancelar cancelar cancelar"
    ;
}

#inputFiltroCli{
    grid-area: input;
    text-align: center;
}

#selectFiltroCli{
    grid-area: select;
}

#tablaListaCli{
    grid-area: table;
}

#contBotonesListaCli{
    grid-area: cancelar;
}

.formListaCliChilds{
    font-size: xx-large;
    border-radius: 12px;
    font-family: var(--fuenteOrbitronRegular);
    margin-bottom: 3vh;
    margin-right: 2vw;

}

#puntoCli{
    color: greenyellow;
}
#formListaClientes > table{
    display: block;
    width: 98%;
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-collapse: collapse;
    table-layout: fixed;
}

#contBotonesListaCli{
    display: flex;
    margin: 5vh auto;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#tablaListaCli{
    cursor: pointer;
    text-align: center;
}
#tablaListaCli tr:nth-child(even){
    background-color: lightgray;
}
#tablaListaCli tbody{
    display: block;
    width:100%;
}

#tablaListaCli tbody tr{
    display: block;
    width: 100%;
    border: 0;
}
#tablaListaCli tbody td{
    display: block;
    width: 100%;
}