.inputModalRegUsuario {
    font-family: var(--fuenteOrbitronRegular);
    width: 90%;
    margin-top: 0vh;
}

#formRegUsuario {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

#contBotonesRegUsuario {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btnRegistrarUsuDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6vw;
}

#btnCancelRegUsuDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6vw;
}
#formRegUsuario > input, select{
    border-radius: 12px;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 10vh;
}
#formRegUsuario #btnSelecEmpl{
    margin-bottom: 6vh;
    
}
#formRegUsuario #opcionNull{
    background-color: lightgray;
}