#formEstablecerGarantia .dosBotones{
    width: 50vw;
    margin: 6% auto;
}
#formEstablecerGarantia .labelInput{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 6%;
    font-size: xx-large;
}

#formEstablecerGarantia .labelInput > input{
    font-family: var(--fuenteOrbitronRegular);
    font-size: xx-large;
    width: 10%;
    border-radius: 6px;
}
#formEstablecerGarantia .labelInput > label{
    text-align: left;
    width: 60%;
    margin-left: 5%;
    font-family: var(--fuenteOrbitronBold);
}