@import './global.css';


#contenedorPrincipalReparacion{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25vh auto;
    gap: 4%;
}

tr, th, thead, table{
    border: 2px solid black;
}
table{
    align-self: flex-start;
    justify-self: center;
    width: 90%;
    table-layout: auto;
    background-color: white;
    border-collapse: collapse;
    border-radius: 12px;
}
thead{
    font-family: var(--fuenteOrbitronBold);
    font-size: x-large;
    background-color: var(--colorYomu);
}


#etBusquedaReparacion{
    width: 90%;
    justify-self: center;
    border-radius: 12px;
    font-family: var(--fuenteOrbitronBold);
    font-size: 32px;
}

#contenedorPrincipalReparacion .aux{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}